@font-face {
    font-family: 'Indie Flower';
    src: url('/fonts/IndieFlower-Regular.ttf');
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
}

main {
    padding-top: 20px;
    width: 80vw;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Indie Flower';
}

h1 {
    color: salmon;
}

h2 {
    color: lightskyblue;
}

img.welcome {
    width: 100%;
}